body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    }

#cbar {
    background-color: white;
    }

#portrait {
    align: center;
    height: 200px;
    opacity: 90%;
    }


h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
    }

h2 {
    font-size: 28px;
    font-weight: normal;
    text-align: center;
    color: #EFECE6;
    padding: 3px 6px 3px 7px;
    }


h3 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    }

    #position {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: left;
    color: #23231A;
    }


h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    color:#8F99A3;
    }


p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    }


li {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    }


progress {
    width: 125px;
    height: 25px;
    opacity: 45%;
    }


img {
    height: 75px;
    opacity: 75%;
    }


